:host {
}

a {
  margin-top: 10px;
  color: #5c0d1e;
}

svg {
  fill: #5c0d1e;
}

.review_wp_outer {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

.review_content_wrap {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
  border-color: #000000;
  margin-right: 20px;
}

.review_maintitle {
  font-weight: bold;
  font-size: 18px;
}

.review_title {
  font-weight: bold;
  font-size: 18px;
  color: #741126;
  margin-left: 15px;
}

.review_title svg {
  fill: #741126;
}

.review_text {
  color: #000000;
  margin-top: 10px;
  line-height: 22px;
}

.review_text svg {
  fill: #000000;
}

.review_date {
  color: #000000;
}

.review_date svg {
  fill: #000000;
}

.pagination {
  color: #0066bc;
  padding-right: 18px;
}

.pagination svg {
  fill: #0066bc;
}

.pagination a {
  color: #741126;
  font-weight: bold;
}

.pagination a svg {
  fill: #741126;
}

.pagination a:hover {
  color: #000000;
}

.pagination a:hover svg {
  fill: #000000;
}

.review_imagebox {
  margin-left: 20px;
  width: 60px;
  min-width: 60px;
}

.review_image {
  width: 50px;
  height: 50px;
  border-width: 6px;
  border-style: solid;
  border-color: #ebe7e4;
}

.review_header {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #cccccc;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.review_headertitle {
  font-size: 22px;
  line-height: 22px;
}

.review_username {
  font-size: 13px;
  text-align: center;
  word-wrap: break-word;
  color: #000000;
  word-break: break-word;
}

.review_username svg {
  fill: #000000;
}
